@import "tailwindcss";
@plugin "daisyui";

/* Hide Edge default password icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Hide Chrome autofill eye */
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
}
